.forum-section {
  font-family: overpass;
  display: grid;
  grid-gap: 1rem;
  margin: 0 5vw 0 25vw;
  .forum-card {
    border: 2px solid $tcolor;
    padding: 1.3rem;
  }
  & > i:hover {
    color: darken($color: $pcolor, $amount: 10);
  }
}

.forum-header {
  text-align: center;
  font-family: overpass;
}

.forum-bar {
  font-family: overpass;
  border: 2px solid $tcolor;
  position: fixed;
  display: block;
  left: 0;
  top: 50vh;
  padding: 10vh 5vw;
  background: $tcolor;
  & > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}
