/* Navbar */
.index-main-nav {
  background: $dcolor;
  font-size: 2.2rem;
}
.index-main-nav-content {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
}
// .index-main-nav-content > * {
//   padding: 0.5rem;
// }
$sass-burger-add-vendor-prefixes: true !default;
.burger-menu {
  display: flex;
  padding: 0.4rem;
}
// Burger
@mixin burger(
  $width: 1rem,
  $height: 1px,
  $gutter: 1px,
  $color: $dcolor,
  $border-radius: 0,
  $transition-duration: 0.3s
) {
  $burger-height: $height !global;
  $burger-gutter: $gutter !global;
  position: relative;
  margin-top: $height + $gutter;
  margin-bottom: $height + $gutter;
  user-select: none;

  &,
  &:before,
  &:after {
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    @if $border-radius != 0 {
      border-radius: $border-radius;
    }
    transition-property: background-color, transform;
    transition-duration: $transition-duration;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &:before {
    top: -($height + $gutter);
  }

  &:after {
    top: $height + $gutter;
  }
}

// Select parts of the burger
@mixin burger-parts {
  &,
  &:before,
  &:after {
    @content;
  }
}

@mixin burger-top {
  &:before {
    @content;
  }
}

@mixin burger-middle {
  & {
    @content;
  }
}

@mixin burger-bottom {
  &:after {
    @content;
  }
}

// Burger animations
@mixin burger-to-cross {
  & {
    background-color: transparent;
  }
  &:before {
    transform: translateY($burger-gutter + $burger-height) rotate(45deg);
  }
  &:after {
    transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
  }
}

.menu-button {
  display: inline-block;
  padding: 0.4rem 0;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}
