@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700|Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "overpass";
  width: 100%; }

.display {
  display: flex; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ol,
ul {
  list-style: none; }

textarea {
  resize: none; }

.forum-main {
  margin-bottom: 1rem; }

.forum-section {
  font-family: overpass;
  display: grid;
  grid-gap: 1rem;
  margin: 0 5vw 0 25vw; }
  .forum-section .forum-card {
    border: 2px solid #1b2432;
    padding: 1.3rem; }
  .forum-section > i:hover {
    color: black; }

.forum-header {
  text-align: center;
  font-family: overpass; }

.forum-bar {
  font-family: overpass;
  border: 2px solid #1b2432;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: fixed;
  display: block;
  left: 0;
  top: 50vh;
  padding: 10vh 5vw;
  background: #1b2432; }
  .forum-bar > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%; }
    .forum-bar > ul > li > a {
      color: #fbfbfb; }

.form-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-container > .btn {
    font-size: 1.3rem; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Index */
.index-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
  animation: fadeIn 1.5s ease-in-out both; }

.showcase-header {
  margin: 1rem 0; }

.showcase-img {
  max-width: 65vw;
  width: 65vw;
  height: 100%;
  cursor: pointer; }

.index-text-content {
  margin: 0 15vw;
  text-align: center; }

.img-container {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/a.png) no-repeat;
  border: 2px solid #fbfbfb;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 100%;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out 1.5s both; }
  .img-container > * {
    animation: fadeIn 0.5s ease-in-out 2.5s both; }
  .img-container .start {
    margin: 1rem auto;
    animation: fadeIn 0.5s ease-in-out 3.5s both;
    background: #fbfbfb;
    padding: 0.4rem;
    border-radius: 1rem; }

.play-icon {
  color: #fbfbfb;
  cursor: pointer; }

/* Play */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-row-gap: 5vw;
  margin: 4vh 2vw; }

.drum-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  max-width: 90vw; }
  .drum-section .active {
    background: #fbfbfb;
    color: #121420; }
  .drum-section > * > * {
    display: flex;
    justify-content: center;
    padding: 4vh 1vw;
    font-size: 1rem;
    border: 2px solid #fbfbfb;
    border-radius: 1rem;
    margin: 2vh 0;
    cursor: pointer; }
    .drum-section > * > *:hover {
      background: #50507e; }
    .drum-section > * > *:active {
      background: #50507e;
      border-color: #a1a1cc; }

.pad-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw; }

.pad-header {
  margin-bottom: auto;
  align-self: center;
  text-transform: capitalize; }

.drum-pad-row-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1vh 1vw; }

.synth-section {
  max-width: 100vw; }
  .synth-section .dropdown {
    padding: 0.4rem 1rem;
    margin: 1rem auto; }
    .synth-section .dropdown > * {
      color: #1b2432; }
  .synth-section .synth-type {
    padding: 0.3rem 1rem;
    background: #fbfbfb;
    color: #313131;
    border: 0.2rem solid #fbfbfb;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .synth-section .synth-type:hover {
      color: #121420;
      border: 0.2rem solid #50507e;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .synth-section .knobs {
    display: flex;
    justify-content: center;
    margin: 2vh 0; }
    .synth-section .knobs .knob {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 2vw; }
    .synth-section .knobs .select {
      border-top-left-radius: 1.3rem;
      border-bottom-right-radius: 1.3rem;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px; }

.synth-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: auto 0; }
  .synth-container > * {
    display: flex;
    justify-content: center;
    border: 2px solid #fbfbfb;
    border-radius: 1rem;
    cursor: pointer; }
  .synth-container .active {
    background: #50507e;
    border-color: #a1a1cc; }

.synth-pad {
  background: #fbfbfb;
  color: #313131;
  padding: 2.6rem;
  border: 0.6rem solid #fbfbfb; }
  .synth-pad:active {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.register-container {
  width: 100%; }

/* Forum */
.forum {
  margin: 0 15vw; }
  .forum .forum-header {
    text-align: center; }
  .forum .new-thread-header:hover {
    color: #e2e2e2;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .forum .form-content {
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .forum .form-content select {
      padding: 0.6rem 1.5rem;
      text-align-last: center; }
      .forum .form-content select > option {
        color: #121420; }
      .forum .form-content select:hover {
        background: #eeeeee;
        color: #121420; }
  .forum .btn {
    margin: 1rem 0; }
  .forum .new-thread {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .forum .new-thread .form-group {
      display: none; }
  .forum #form-display:hover {
    cursor: pointer; }

.thread-container .forum-card {
  margin: 2rem auto; }

.delete-post-btn > * {
  cursor: pointer;
  transform: rotate(-90deg);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .delete-post-btn > *:hover {
    transform: rotate(90deg);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-content > textarea {
    padding: 2rem;
    width: 45vw;
    color: #242841;
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem; }
    .form-content > textarea::placeholder {
      color: #fbfbfb; }
  .form-content input {
    border: 0;
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    padding: 0.6rem 1.5rem;
    color: #242841; }
    .form-content input::placeholder {
      color: #fbfbfb; }
  .form-content .select {
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .synth-pad {
    padding: 1rem; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.6rem; }
  textarea {
    width: 45vw; }
  .img-container {
    height: 60vh; }
  .form-display,
  .new-thread-header {
    font-size: 1.6rem; }
  .pad-header {
    margin-bottom: 0; }
  .knobs {
    display: flex;
    flex-direction: column; }
  .main {
    margin: 2vh auto; }
  .pad-section {
    max-width: 90vw;
    height: 85vh; }
  .synth-section {
    max-width: 90vw;
    height: 100vh; }
  .synth-pad {
    padding: 0.7rem; }
  .drum-pad {
    padding: 3vh 2vw;
    margin: 0 1vw; } }

.hide {
  display: none; }

#admin-add,
#instrument-add :hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */