@import "config";
@import "forum";

/* Index */
.index-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
}
.showcase-header {
  margin: 1rem 0;
}
.showcase-img {
  max-width: 65vw;
  width: 65vw;
  height: 100%;
  cursor: pointer;
}
.index-text-content {
  margin: 0 15vw;
  text-align: center;
}
.img-container {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/images/a.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-icon {
  color: $dcolor;
  cursor: pointer;
}
/* Play */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 5vw;
}
.drum-section {
  background-size: cover;
  .active {
    background: $dcolor;
    color: $pcolor;
  }
  & > * {
    & > * {
      display: flex;
      justify-content: center;
      padding: 5vh 1vw;
      border: 2px solid $dcolor;
      border-radius: 1rem;
      margin: 2vh 0;
      cursor: pointer;
      &:hover {
        background: $pad-bg-click;
      }
      &:active {
        background: $pad-bg-click;
        border-color: $pad-b-click;
      }
    }
  }
}
.pad-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw;
}
.pad-header {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: auto;
  text-transform: capitalize;
}
.drum-pad-row-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  .drum-pad {
    padding: 2.2rem 0;
  }
}
.synth-section {
  .dropdown {
    padding: 1rem;
    margin: 1rem auto;
  }
}
.synth-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: auto 0;

  & > * {
    display: flex;
    justify-content: center;
    border: 2px solid $dcolor;
    border-radius: 1rem;
    cursor: pointer;
  }
  .active {
    background: $pad-bg-click;
    border-color: $pad-b-click;
  }
}
.synth-pad {
  background: $pad-bg;
  color: $pad-c;
  padding: 3rem;
  border: 0.6rem solid $pad-bg;
  &:active {
    @include easeOut;
  }
}
// Register
.register-container {
  width: 100%;
}
/* Forum */
.forum-header {
  text-align: center;
}
.card {
  margin: 3rem 15vw;
}

.form-group {
  display: none;
}
#form-display :hover {
  cursor: pointer;
}
