@import "config";
@import "forum";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Index */
.index-main {
  height: 100vh;
}
.index-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
  animation: fadeIn 1.5s ease-in-out both;
}
.showcase-header {
  margin: 1rem 0;
}
.showcase-img {
  max-width: 65vw;
  width: 65vw;
  height: 100%;
  cursor: pointer;
}
.index-text-content {
  margin: 0 15vw;
  text-align: center;
}
.img-container {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/images/a.png) no-repeat;
  border: 2px solid $dcolor;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 100%;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out 1.5s both;
  & > * {
    animation: fadeIn 0.5s ease-in-out 2.5s both;
  }
  .start {
    margin: 1rem auto;
    animation: fadeIn 0.5s ease-in-out 3.5s both;
    background: $dcolor;
    padding: 0.4rem;
    border-radius: 1rem;
  }
}
.play-icon {
  color: $dcolor;
  cursor: pointer;
}
/* Play */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-row-gap: 5vw;
  margin: 4vh 2vw;
}
.drum-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  max-width: 90vw;
  .active {
    background: $dcolor;
    color: $pcolor;
  }
  & > * {
    & > * {
      //drum pads
      display: flex;
      justify-content: center;
      padding: 4vh 1vw;
      font-size: 1rem;
      border: 2px solid $dcolor;
      border-radius: 1rem;
      margin: 2vh 0;
      cursor: pointer;
      &:hover {
        background: $pad-bg-click;
      }
      &:active {
        background: $pad-bg-click;
        border-color: $pad-b-click;
      }
    }
  }
}
.pad-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw;
}
.pad-header {
  // margin-top: 1rem;
  margin-bottom: auto;
  align-self: center;
  text-transform: capitalize;
}
.drum-pad-row-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1vh 1vw;
}
.synth-section {
  max-width: 100vw;
  .dropdown {
    padding: 0.4rem 1rem;
    margin: 1rem auto;
    & > * {
      color: $tcolor;
    }
  }
  .synth-type {
    padding: 0.3rem 1rem;
    background: $pad-bg;
    color: $pad-c;
    border: 0.2rem solid $pad-bg;
    @include easeOut;
    &:hover {
      color: $pcolor;
      border: 0.2rem solid $pad-bg-click;
      @include easeOut;
    }
  }

  .knobs {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    .knob {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 2vw;
    }
    .select {
      border-top-left-radius: 1.3rem;
      border-bottom-right-radius: 1.3rem;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
}
.synth-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem;

  & > * {
    display: flex;
    justify-content: center;
    border: 2px solid $dcolor;
    border-radius: 1rem;
    cursor: pointer;
  }
  .active {
    background: $pad-bg-click;
    border-color: $pad-b-click;
  }
}
.synth-pad {
  background: $pad-bg;
  color: $pad-c;
  padding: 2.6rem;
  border: 0.6rem solid $pad-bg;
  &:active {
    @include easeOut;
  }
}
// Register
.register-container {
  width: 100%;
}
/* Forum */
.forum {
  margin: 0 15vw;
  .forum-header {
    text-align: center;
  }
  .new-thread-header:hover {
    color: darken($color: $dcolor, $amount: 10);
    @include easeOut();
  }
  .form-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    & select {
      padding: 0.6rem 1.5rem;
      text-align-last: center;
      & > option {
        color: $pcolor;
      }
      &:hover {
        background: darken($color: $dcolor, $amount: 5);
        color: $pcolor;
      }
    }
  }
  .btn {
    margin: 1rem 0;
  }

  .new-thread {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-group {
      display: none;
    }
  }

  #form-display:hover {
    cursor: pointer;
  }
}
.thread-container {
  .forum-card {
    margin: 2rem auto;
  }
}
// profile
.delete-post-btn > * {
  cursor: pointer;
  transform: rotate(-90deg);
  @include easeOut();
  &:hover {
    transform: rotate(90deg);
    @include easeOut();
  }
}
// form * thread and post //
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > textarea {
    padding: 2rem;
    width: 45vw;
    color: lighten($color: $pcolor, $amount: 10);
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    &::placeholder {
      color: $dcolor;
    }
  }
  & input {
    border: 0;
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    padding: 0.6rem 1.5rem;
    color: lighten($color: $pcolor, $amount: 10);
    &::placeholder {
      color: $dcolor;
    }
  }
  & .select {
    border-top-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .new-thread {
    margin: 1rem;
  }
}
.add-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  & > div {
    cursor: pointer;
  }
}

//
@include mediaLg {
  .synth-pad {
    padding: 1rem;
  }
}
@include mediaMd {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  textarea {
    width: 45vw;
  }
  .knobs-container {
    display: flex;
    flex-wrap: wrap;
    .synth-type {
      border-radius: 1rem !important;
      padding: 0 !important;
    }
  }
  .img-container {
    height: 60vh;
  }
  .form-display,
  .new-thread-header {
    font-size: 1.6rem;
  }
  // play area
  .pad-header {
    margin-bottom: 0;
  }
  .main {
    margin: 2vh auto;
  }
  .pad-section {
    max-width: 90vw;
    height: 85vh;
  }
  .synth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    height: 100vh;
  }
  .synth-pad {
    padding: 2.4rem;
    &:active {
      background: $pad-bg-click;
      border-color: $pad-b-click;
    }
  }
  .drum-pad {
    padding: 3vh 2vw;
    margin: 0 1vw;
  }
  // admin dash
  .form-wrapper > div {
    display: flex;
    flex-direction: column;
  }
}
.hide {
  display: none;
}
@include mediaSm {
  .synth-pad {
    padding: 1rem;
  }
}

@include mediaXs {
  .synth-pad {
    padding: 0.4rem;
  }
}
