<audio autoplay controls>
  <source src="../sound_bank/drum_kits/909_HighHat.wav" type="audio/wav" />
  <p>
    Your browser doesn't support HTML5 audio. Here is
    <a href="../sound_bank/drum_kits/909_HighHat.wav">link to the audio</a>
    instead.
  </p>
</audio>
