<h1 class="forum-header mt-5">Forum</h1>
<!-- Cards -->
<div class="container" id="form-display">
  <i class="fab fa-wpforms  fa-3x"></i>
</div>
<form class="container">
  <div class="form-group">
    <label for="form-category">Category</label>
    <select class="form-category" id="form-category">
      <option>Synth</option>
      <option>Drum</option>
      <option>Songs</option>
    </select>
  </div>
  <div class="form-group">
    <label for="form-message">Message</label>
    <textarea class="form-control" id="form-message" rows="3"></textarea>
    <button id="create-thread">Create Thread</button>
  </div>
</form>
<div class="card text-white bg-light">
  <div class="card-header">Username</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
<!--  -->
<div class="container">
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          1
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>
