<main class="forum-main">
  <h1>Forum</h1>
  <aside class="forum-bar">
    <ul>
      <li>Users</li>
      <li>Posts</li>
      <li>Songs</li>
    </ul>
  </aside>
  <section class="forum-section">
    <h2>Latest Posts</h2>
    <div class="forum-card">
      <h3>{{username}}</h3>
      <h4>title</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptatum fugit atque quia nesciunt ab.</p>
      <div class="forum-share">

      </div>
    </div>
  </section>
</main>