<main class="index-main">
  <section class="index-showcase">
    <h1 class="showcase-header">Welcome to Minks</h1>
    <a class="img-container b-r" href="/play">
      <i class="fas play-icon fa-3x fa-play"></i>
      </div>
    </a>
  </section>
</main>