<main class="index-main">
  <section class="index-showcase">
    <h1 class="showcase-header">Welcome to Minks</h1>
    <a class="img-container" href="/play">
      <i class="fas play-icon fa-5x fa-play"></i>
      </div>
      <h2 class="start">Start Now</h2>
      </a>
  </section>
</main>