<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
    crossorigin="anonymous"></script>
  <script src="/js/nav.js" type="module"></script>
  {{#each script}}
  <script src="/js/{{this}}" type="module"></script>
  {{/each}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  {{> nav}}
  {{{body}}}
  {{> footer}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</body>

</html>