<main class="main">
  <section id="drum-pad" class="pad-section drum-section">
    <h3 class="pad-header">drum-pad</h3>
    <h4 class="m-auto">Volume</h4>
    <div id="knob"></div>

    <h3>kick</h3>

    <div class="drum-pad-row-container" id="kick-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h3>snare</h3>
    <div class="drum-pad-row-container" id="snare-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h3>clap</h3>
    <div class="drum-pad-row-container" id="clap-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h3>hi-hat</h3>
    <div class="drum-pad-row-container" id="hi-hat-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
  </section>

  <section id="synth" class="pad-section synth-section">
    <h2 class="pad-header">Synth</h2>

    <select class="dropdown" id="synth-type">
        <option class="dropdown-item">Sine</option>
        <option class="dropdown-item">Sawtooth</option>
        <option class="dropdown-item">Square</option>
    </select>

      <div class="knobs knobs-container">
        <div class="knob" id="volume-knob">Volume</div>
        <div class="knob" id="filter-knob">Filter</div>
        <div class="knob" id="modulation-knob">Modulation</div>
      </div>
    <div class="synth-container m-auto" id="synth-parent">
      <div id="synth-a" class="synth-pad">C</div>
      <div id="synth-b" class="synth-pad">C#</div>
      <div id="synth-c" class="synth-pad">D</div>
      <div id="synth-d" class="synth-pad">D#</div>
      <div id="synth-e" class="synth-pad">G#</div>
      <div id="synth-f" class="synth-pad">A</div>
      <div id="synth-g" class="synth-pad">A#</div>
      <div id="synth-h" class="synth-pad">B</div>
      <div id="synth-i" class="synth-pad">E</div>
      <div id="synth-j" class="synth-pad">F</div>
      <div id="synth-k" class="synth-pad">F#</div>
      <div id="synth-l" class="synth-pad">G</div>
      <div id="synth-m" class="synth-pad">C</div>
      <div id="synth-n" class="synth-pad">C#</div>
      <div id="synth-o" class="synth-pad">D</div>
      <div id="synth-p" class="synth-pad">D#</div>
    </div>
  </section>
</main>
