{{> nav}}
<main class="main">
  <section id="drum-pad" class="pad-section drum-section">
    <h1 class="pad-header">drum-pad</h1>
    <h2>kick</h2>
    <div class="drum-pad-row-container" id="kick-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h2>snare</h2>
    <div class="drum-pad-row-container" id="snare-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h2>clap</h2>
    <div class="drum-pad-row-container" id="clap-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
    <h2>hi-hat</h2>
    <div class="drum-pad-row-container" id="hi-hat-section">
      <div class="drum-pad">1</div>
      <div class="drum-pad">2</div>
      <div class="drum-pad">3</div>
      <div class="drum-pad">4</div>
      <div class="drum-pad">5</div>
      <div class="drum-pad">6</div>
      <div class="drum-pad">7</div>
      <div class="drum-pad">8</div>
    </div>
  </section>

  <section id="synth" class="pad-section synth-section">
    <h1 class="pad-header">Synth</h1>
    <div class="synth-container" id="synth-parent">
      <div id="synth-a" class="synth-pad">C</div>
      <div id="synth-b" class="synth-pad">C#</div>
      <div id="synth-c" class="synth-pad">D</div>
      <div id="synth-d" class="synth-pad">D#</div>
      <div id="synth-e" class="synth-pad">G#</div>
      <div id="synth-f" class="synth-pad">A</div>
      <div id="synth-g" class="synth-pad">A#</div>
      <div id="synth-h" class="synth-pad">B</div>
      <div id="synth-i" class="synth-pad">E</div>
      <div id="synth-j" class="synth-pad">F</div>
      <div id="synth-k" class="synth-pad">F#</div>
      <div id="synth-l" class="synth-pad">G</div>
      <div id="synth-m" class="synth-pad">C</div>
      <div id="synth-n" class="synth-pad">C#</div>
      <div id="synth-o" class="synth-pad">D</div>
      <div id="synth-p" class="synth-pad">D#</div>
    </div>
  </section>
</main>