<div id="admin-form" class="form-wrapper hide">
  <h5 class="card-text m-5">New Admin</h5>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input
        id="username-input"
        type="text"
        class="form-control mb-2 bg-success"
        id="inlineFormInput"
        placeholder="username"
      />
    </div>
    <div class="col-auto">
      <input
        id="password-input"
        type="text"
        class="form-control mb-2 bg-success"
        id="inlineFormInput"
        placeholder="password"
      />
    </div>
    <div class="col-auto">
      <div class="input-group mb-2 bg-success">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input
          id="email-input"
          type="text"
          class="form-control bg-success"
          id="inlineFormInputGroup"
          placeholder="email"
        />
      </div>
    </div>
    <div class="col-auto">
      <button id="create-admin" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</div>
