<div class="card m-5">
  <div class="card-body">
    <h5 class="badge badge-success card-title">Title</h5>
    <p class="card-text">Message</p>
    <p class="card-text">Date</p>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
  </div>
</div>
