<h5 class="card-text m-2">Add instrument </h5>

  <div class="form-row align-items-center">
    <div class="col-auto">
      <input id="username-input" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="name">
    </div>
     <div class="col-auto">
      <input id="password-input" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="url">
    </div>
    <div class="col-auto">
      <button id="create-admin" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>