<form id="news-form" class="new-thread m-5 hide">
  <div class="form-group form-content ">
    <label for="news-title">Title</label>
    <input
      class="bg-dark 
          "
      type="text"
      name="new-post-forum-title"
      id="news-title"
      placeholder="input your title here..."
    />
  </div>
  <div class="form-group form-content">
    <label for="form-message">Message</label>
    <textarea
      class="form-control bg-dark container"
      id="news-message"
      placeholder="input your text here..."
    ></textarea>
    <button class="btn-primary btn" id="create-news">
      Post news
    </button>
  </div>
</form>
