<header class="index-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/play">Play Minks</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Accounts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/login">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/register">Register</a>
          </div>
        </li>
      </ul>
      <a  id="user" user-id="<%= user ? user.id : 'none' %>"class="account mr-3" href="/dashboard"><h4><span class="badge badge-secondary">
     <%= user ? user.name : 'login' %>
      </span></h4></a>
    </div>
  </nav>
</header>
