<header class="index-header">
  <nav class="index-main-nav">
    <ul class="index-main-nav-content burger-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/play">Play</a></li>
      <li><a href="/forum">Forum</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#" class="menu-button" id="menuButton">
          <span class="burger-icon"></span>
        </a></li>
    </ul>
  </nav>
</header>