<header class="index-header">
  <nav class="index-main-nav">
    <ul class="index-main-nav-content">
      <li><a href="/">home</a></li>
      <li><a href="/login">login</a></li>
    </ul>
  </nav>
</header>