<form action="/dashboard" id="form_create_post" class="form" class="new-post">

  <label for="new-post-forum-title">Title</label>
  <input type="text" name="new-post-forum-title" id="new-post-forum-title" placeholder="new title">

  <label for="new-post-forum-context">Select Comment Type</label>
  <select name="new-post-forum-context" id="new-post-forum-context">
    <option value="Synth">Synth</option>
    <option value="Drum">Drum</option>
    <option value="Song">Song</option>
  </select>

  <textarea name="new-post-content" placeholder="input your comment here..."></textarea>
  <button type="submit" class="btn" id="btn-create-post">submit</button>
</form>
</section>